
block content
	div.container
		div.row
			span &nbsp;
		div.row
			div.col-sm-12
				div.panel.panel-info
					div.panel-heading
						span #{title} number #{gin}
					div.panel-body
						form.form-inline(id="frmnewitem")
							div.form-group
								label(for="mgdescription" class="col-sm-4 control-label") Item Code:
								div(class="col-sm-8")
									input(type="text" class="form-control input-sm" name="mgdescription" id="mgdescription" placeholder="Item Code or Description" required)
							div.form-group
								label(for="mgicon" class="col-sm-4 control-label") Icon File:
								div.col-sm-8
									input.form-control.input-sm(type="text" name="mgicon" id="mgicon" placeholder="Icon File")
							div.form-group
								input(type="hidden" name="dbtable" value="menu_groups")
								input(type="hidden" name="returnid" value="mgid")
								input(type="hidden" name="mg_user" id="mg_user" value=session.user_id)
								input(type="hidden" id="apppage" value="/menu/desktop_icons_setup")
								button(class="btn btn-success" type="button" id="btninsert") ADD DESKTOP ICON