// - Simply load the databases jquery plugin
script.
	$(document).ready(function () {
		$(".table").each(function () {
			if (!$.fn.dataTable.isDataTable($(this))) {
				$(this).DataTable({
					searching: false,
					ordering: false,
				});
			}
		})
	})