// NProgress ajax jQuery
script.
	$(document).ready(function() {
		// - Setup NProgress bar
		NProgress.configure({ showSpinner: false });
		$(document).ajaxStart(function(){
			NProgress.start()
		});
		
		$(document).ajaxStop(function(){
			NProgress.done()
		});
		
		// - Initialize Datepickers
		$(document).on("focus", ".datepicker", function () {
			$(this).datepicker({
				dateFormat: "dd/mm/yy",
				maxDate: '0',
			});
		});
	})