// Function to update single field in DB
script(src="/javascripts/updatedb_function.js" type="text/javascript")
		
// - Fundtion to delete items from DB		
script(src="/javascripts/deletedb_function.js" type="text/javascript")

// Function to insert items in DB
script(src="/javascripts/insertdb_function.js" type="text/javascript")

// Checkbox handling function
