block scripts
	//- Add boostrap
	link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
	link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css' integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp' crossorigin='anonymous')
	
	//- Google Fonts
	link(href='https://fonts.googleapis.com/css?family=Raleway:100,300,400,700' rel='stylesheet')
	
	//- jQuery
	script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
	
	//- jQuery UI
	link(rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css')
	script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
	
	//- jQuery Validation
	script(src='https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js')
	
	//- NProgress
	script(src='/scripts/nprogress/nprogress.js' type='text/javascript')
	link(rel='stylesheet' href='/scripts/nprogress/nprogress.css' type="text/css")
	
	//- Custom CSS
	link(rel='stylesheet' href='/stylesheets/gctl.css' type='text/css')
	link(rel='stylesheet' href='/stylesheets/extras.css' type='text/css')
	link(rel='stylesheet' href='/stylesheets/bootstrap_additions.css' type='text/css')
	
	//- Normalize.css
	link(rel='stylesheet' href='/scripts/normalize.css/normalize.css' type="text/css")
	
	//- Data tables
	link(rel='stylesheet' href='//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css')
	script(src='//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js')
	
	//- Boostrap JS
	script(type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
	
	//- Dropzone file upload
	script(type="text/javascript" src="/javascripts/dropzone.js")