// - The script will add a search box and the function to relaod the page with the results
// - the route to search is stored in the id=searchparam hidden input
// - we build the query string to send to the route (dbapi) in the form of
// - /api/db/searchterm/table/<table in db>/term/<string to search>/fields/<field1>,<field2>/
// - then load this into the workspace

// - if we have already searched place the requested search term in the input

form.form-inline(id="frmsearch")
	div.row
		div.col-sm-3
		div.col-sm-4
			div.form-group.pull-right
				div.input-group
					div.input-group-addon Search for items in data
					input.input-sm.form-control(type="text" id="srch" placeholder="Type text to search ..." style="width: 300px;" value=term required)
		div.col-sm-1
			button.btn.btn-primary.btn-sm.btn-primary-spacing(type="button" id="btn-search") SEARCH DB
		div.col-sm-1
			if term
				button.btn.btn-info.btn-sm.btn-primary-spacing(type="button" id="btn-clear") CLEAR SEARCH
			else
				button.btn.btn-info.btn-sm.btn-primary-spacing(type="button" id="btn-clear" disabled="true") CLEAR SEARCH
		div.col-sm-3
	
script. 
	$(document).ready(function () {
		$("#frmsearch").validate({
			errorClass: 'customerror',
			errorPlacement: function(error,element) {
				return true; // No labels for the error fields. Just highlight with error class! Looks better and more fluid
			}		
		});
		
		$("#btn-search").click(function () {
			if($("#frmsearch").valid() == true) {
				$("#workspace").load("/api/db/searchterm/table/" + $("#searchparam").attr("searchtable") + "/term/" + $("#srch").val() + '/fields/' + $("#searchparam").attr("fields") + '/render/' + $("#searchparam").attr("render") + '/arrayname/' + $("#searchparam").attr("arrayname"))
				// Enable clear search button
				$("#btn-clear").attr("disabled", false)
			}
		})
		
		$("#btn-clear").click(function() {
			$("#workspace").load("/menu/" + $("#searchparam").attr("render"));
			// Disable again button
			$("#btn-clear").attr("disabled", true)
		})
	})