// - The script will add a search box and the function to relaod the page with the results
// - the route to search is stored in the id=searchparam hidden input
// - we build the query string to send to the route (dbapi) in the form of
// - /api/db/searchterm/table/<table in db>/term/<string to search>/fields/<field1>,<field2>/
// - then load this into the workspace

// - if we have already searched place the requested search term in the input

form.form-inline(id="frmsearch")
	div.row
		div.input-group
			input.form-control.input-sm.btn-space(type="text" id="srch" placeholder="Type text to search ..." style="width: 300px;" value=term required)
	
		button.btn.btn-primary.btn-sm.btn-space(type="button" id="btn-search") SEARCH DB
	
		if term
			button.btn.btn-info.btn-sm(type="button" id="btn-clear") CLEAR SEARCH
		else
			button.btn.btn-info.btn-sm(type="button" id="btn-clear" disabled="true") CLEAR SEARCH
	
script. 
	$(document).ready(function () {
		$("#frmsearch").validate();
		
		$("#btn-search").click(function () {
			if($("#frmsearch").valid() == true) {
				$("#workspace").load("/api/db/searchterm/table/" + $("#searchparam").attr("searchtable") + "/term/" + $("#srch").val().replace(" ","_") + '/fields/' + $("#searchparam").attr("fields") + '/render/' + $("#searchparam").attr("render") + '/arrayname/' + $("#searchparam").attr("arrayname"))
				// Enable clear search button
				$("#btn-clear").attr("disabled", false)
			}
		})
		
		$("#btn-clear").click(function() {
			$("#workspace").load("/menu/" + $("#searchparam").attr("render"));
			// Disable again button
			$("#btn-clear").attr("disabled", true)
		})
	})