form.form-inline
	div.form-group
		div.input-group
			div.input-group-addon Search for items
			input.input-sm.form-control(type="text" id="srch" placeholder="Type descriptions, models, codes ..." style="width: 300px;")
	button.btn.btn-primary.btn-sm(id="btn-search") SEARCH DB