extends layout

block content
	// - Whan we load or reload we always want the progress bar. Tha is why we have to show it first thing on top
	div.container
		include header.pug
		div.row
			h3
				The page cannot be found. Could be temporarily in maintenance or under construction.
					