// - This script creates dynamically an autocomplete on any element that has a class=autocomplete set
// - In order to function the element has to contain an attribute ac-source=<express route that returns JSON data>
// - and an extra <input type=hidden> element created in the form. The name of the hidden input has to be the same
// - as the field in the database that has to be updated. The autcomplete input has to be named as the field with _txt added
// - example: <field_name>_txt

// - This will make the frmnewitem insert function work properly.

// - Example

// - autocomplete element -> txtmsg_txt
// - hidden input element -> txtmsg
// - It will set the text in the input box and the database id of the selected item in the <element> hidden input
// - This can be used to update/insert into the database
// - Remember to always use uniwue identifiers based on id when using this functon in table, for example if the filed is username
// - the create one field with id="username_" + <id serial> + "_txt"  and the hidden field as id="username_" + <id serial>
// - the ac-source is the cource of the dropdown. Comes from one of the routes in /autocompletes

script.
	$(document).on("focus", ".autocomplete", function () {
		// Get the datasource from the element attributs
		var datasource = $(this).attr("ac-source");
		// Create the autocomplete opetions 
		var autocomplete_options = {
			appendTo: ".container", // append to container as default append to body doesn't work with boostrap
			dataType: "json",
			source: function( request, response ) {
				$.ajax({
					url: "/autocompletes/" + datasource, // get the source route that returns JSON from the attribut ac-source of the element 
					data: {
						term: request.term
					},
					success: function(data) {
						console.log(data)
						var transformed  = $.map(data, function (item) {
							return {
								label: item.label,
								value: item.value,										
							}
						})
						response(transformed)												
					}
				});
			},
			//minLength: 2,
			select: function( event, ui ) {
				event.preventDefault()
				// Put text in input element and is in hidden element
				$(this).val(ui.item.label);
				$("#" + $(this).attr("id").replace("_txt","")).val(ui.item.value).trigger("change") // Id value that will be sent to DB for update
			},
			change: function (event, ui) {
				if (!ui.item) {
					$(this).val(""); // Force user to select item
				}	
			}
		}
		
		$(this).autocomplete(autocomplete_options).on("dblclick", function() {
			$(this).autocomplete("search").data("autocomplete")._renderItem = function (ul, item) {
				var newText = String(item.value).replace(
					new RegExp(this.term, "gi"),
					"<span style='font-weight: bold; text-decoration: underline' class='ui-state-highlight'>$&</span>");
					return $("<li></li>")
					.data("item.autocomplete", item)
					.append("<a>" + newText + "</a>")
					.appendTo(ul);
			};
		});
	})