script.
	$(document).ready(function () {
		// - Load main menu 
		// when we open main we are coming from desktop
		// in desktop when clicking we are passig the group (Eg. Equipment, System Setup etc to the page)
		// We have to then pass it on here when loading the menu so that we filter ans show only the items that belong to this group
		$("#leftmenu").load("/menu/mainmenu/menugroup/!{menugroup}") 
		
		// To main page on logo click
		$(".small_logo").click(function () {
			window.location.href = "/desktop";			
		});
		
		// - Menu Handler
		$(document).on("click", ".mainmenulink", function () {
			// Hide new item div on menu click
			$('#divnewitem').fadeOut()
			
			// Set link for refresh page button so we can reload the currently open div in workspace
			$("#refreshpage").attr("refreshlink", $(this).attr("link"));
			
			// Set link for newitem button to open page for inserting new things in DB
			$("#newitem").attr("dblink", $(this).attr("newitemlink"))

			$("#workspace").empty().load($(this).attr("link"));
			// Unhide new item button and refresh button
			$("#newitem").removeClass("hide");
			$("#refreshpage").removeClass("hide");
			
			// - Set page name based on selection	
			$("#headingtext").text($(this).text().toUpperCase());	
		});
		
		
		// New item button
		$("#newitem").click(function () {
			//alert($("#newitem").attr("dblink"));
			$('#divnewitem').fadeIn();
			$('#divnewitemdet').empty().load($("#newitem").attr("dblink"));
		})
		
		// Always prevent frmnewinsert (when adding new items) to submit when hitting enter
		// Emulate #btninsert click instead
		$(document).bind("keypress", "#frmnewitem", function(e) {
			if (e.keyCode == 13) {
				return false;
			}
		});
			
		$("#closenewitem").click(function () {
			// Hide new item div
			$('#divnewitem').fadeOut();
		})

		// refresh page button
		$("#refreshpage").click(function () {
			// - Reload workspace based on link set when selected from menu
			$("#workspace").load($(this).attr("refreshlink"))				
			// - Remove divnewitem
			$("#divnewitem").fadeOut()
		})
		
		// - Button handler for setting up details such as user permissions, desktop icons etc
		$(document).on("click", ".btn-setup", function () {
			// For setup button load the page that is specified in the attribute setuplink of the button iself
			$('#divnewitem').fadeIn();
			$('#divnewitemdet').empty().load($(this).attr("setuplink") + "/param/" + $(this).attr("param") ); // Since this function can be used anywhere we use a generic attr param to apss parameters. The coder will then use it in AJAX calls etc
		})		
		
		// - Logout function
		$("#logout").click(function () {
			if (confirm('LOGOUT?')) {
				window.location.href = "/logout"
			}			
		})
	})