div(class="row gctl-header")
	div(class="col-sm-2 header-vertical-align text-center")
		img(src="/images/" + logo class="small_logo logo" data-toggle="tooltip" data-placement="right" title="BACK TO DESKTOP")
	div(class="col-sm-8 header-vertical-align text-center")
		span(id="headingtext") 
	div(class="col-sm-2 header-vertical-align text-center")
		div(class="pull-right")
			button(type="button" class="btn btn-default hide" id="refreshpage" style="margin-right: 3px;" data-toggle="tooltip" data-placement="bottom" title="REFRESH PAGE")
				span(class="glyphicon glyphicon-refresh" aria-hidden="true") 	
			button(type="button" class="btn btn-default hide" id="newitem" style="margin-right: 3px;" data-toggle="tooltip" data-placement="bottom" title="CREATE NEW ITEM")
				span(class="glyphicon glyphicon-cog" aria-hidden="true") 			
			button(type="button" class="btn btn-default" id="logout" data-toggle="tooltip" data-placement="bottom" title="LOGOUT")
				span(class="glyphicon glyphicon-log-out" aria-hidden="true")