div.navbar.navbar-default
	div.container-fluid
		div.navbar-header.text-center(style="width: 100%")
			a.navbar-brand
				img.logo(src="/images/" + logo data-toggle="tooltip" data-placement="right" title="BACK TO DESKTOP")
			//span(id="headingtext") 
			div.btn-group.pull-right.nav(role="group")
				button.btn.btn-warning.navbar-btn.hide(type="button" id="refreshpage" data-toggle="tooltip" data-placement="bottom" title="REFRESH PAGE")
					span(class="glyphicon glyphicon-refresh" aria-hidden="true") 	
				button.btn.btn-success.navbar-btn.hide(type="button" id="newitem" data-toggle="tooltip" data-placement="bottom" title="CREATE NEW ITEM")
					span(class="glyphicon glyphicon-plus" aria-hidden="true") 			
				button.btn.btn-default.navbar-btn(type="button" id="logout" data-toggle="tooltip" data-placement="bottom" title="LOGOUT")
					span(class="glyphicon glyphicon-log-out" aria-hidden="true")
