extends layout

block content
	div(class="container-fluid")
		div(class="row")
			div(class="centered loginform" id="loginform")
				img(src="images/" + full_logo)
				form(id="login")
					div(class="form-group")
						label(for="username") Username
						input(type="text" class="form-control" id="username" placeholder="Username" required)
	
					div(class="form-group" id="password")
						label(for="password") Password
						input(type="password" class="form-control" id="pw" placeholder="Password" required)
			
					button(class="btn btn-default" id="auth") AUTHENTICATE
					
		div(class="row" id="warnings")
				if expired == "true"
					div(id="alert")
						div(class="alert alert-warning text-center" role="alert")
							span 
								b Your session is not valid or has expired! Please authenticate!
							button(type="button" class="close" data-dismiss="alert" aria-label="Close")
								span(aria-hidden="true") &times;
				if wrongcred == "true"
					div(id="alert")
						div(class="alert alert-danger text-center" role="alert")
							span 
								b Wrong username or password!
							button(type="button" class="close" data-dismiss="alert" aria-label="Close")
								span(aria-hidden="true") &times;
				if loggedout == "true"
					div(id="loggedout")
						div(class="alert alert-info text-center alert-dismissible" role="alert")
							span 
								b You have successfully logged out.
							button(type="button" class="close" data-dismiss="alert" aria-label="Close")
								span(aria-hidden="true") &times;
				
				script.
					$(document).ready(function () {
						// Prevent form submission
						$("#login").submit(function (event) {
							event.preventDefault()
						})
						
						$("#username").focus()
						
						$("#auth").click(function () {
							// - Remove any open warnings
							$(".alert").remove();
							$("#login").validate({
								errorClass: 'customerror',
								errorPlacement: function(error,element) {
									return true; // No labels for the error fields. Just highlight with error class! Looks better and more fluid
								}							
							})
							if ($("#login").valid() == true) {
								$.ajax({
									type: "POST",
									url: "/auth",
									data: {
										username: $("#username").val(),								
										pw: $("#pw").val()								
									},
									success: function (data) {
										// Route based on response from server
										switch(data) {
											case "OK":
												window.location.href = "/desktop";
												break;
											case "NOTOK":
												window.location.href = "/?wrongcred=true";
											//	// Add line to login form if t does not exists
											//	if ($("#alert").length == 0) {
											//		$("#warnings").append('\
											//			<br><div id="alert" class="alert alert-danger text-center" role="alert">Wrong Username or Password! Please try again!	</div>\
											//		');
											//	}
												//$("#alert").hide().fadeIn();
												break;
											case "DBERR":
												alert("DATABASE ERROR " + data);
												break;
										}
									},
									error: function () {
										alert("DATABASE CONNECTION ERROR")
									}
								})			
							}		
						})
					})