extends layout

block content
	div.container-fluid
		div.row
			div.centered.loginform#loginform
				div.panel.panel-default
					div.panel-heading
						img(src="images/" + full_logo style="height: 40px;")
					div.panel-body
						form#login
							div.form-group
								div.input-group
									span.input-group-addon @
									input.form-control#username(type="text" name="username" placeholder="Username" required)
							div.form-group(id="password")
								div.input-group
									span.input-group-addon #
									input.form-control#pw(type="password" name="pw" placeholder="Password" required)
							input(type="hidden" name="_csrf" value=_csrf)
							button.btn.btn-primary#auth AUTHENTICATE
					
		div.row#warnings
				if expired == "true"
					div#alert(style="display: none")
						div.alert.alert-info.text-center(role="alert")
							span 
								b Your session is not valid, it has expired or you logged out! Please authenticate!
							button.close(type="button" data-dismiss="alert" aria-label="Close")
								span(aria-hidden="true") &times;
				if wrongcred == "true"
					div#alert(style="display: none")
						div.alert.alert-danger.text-center(role="alert")
							span 
								b Wrong username or password!
							button.close(type="button" data-dismiss="alert" aria-label="Close")
								span(aria-hidden="true") &times;
				
				script.
					$(document).ready(function () {
						// Slide in and out alerts
						$("#alert").slideDown().delay(3000).slideUp();
						// Prevent form submission
						$("#login").submit(function (event) {
							event.preventDefault()
						})
						
						$("#username").focus()
						
						$("#auth").click(function () {
							// - Remove any open warnings
							$(".alert").remove();
							$("#login").validate({
								errorClass: 'customerror',
								errorPlacement: function(error,element) {
									return true; // No labels for the error fields. Just highlight with error class! Looks better and more fluid
								}							
							})
							if ($("#login").valid() == true) {
								$.ajax({
									type: "POST",
									url: "/auth",
									data: $("#login").find(":input").serializeArray(),
									success: function (data) {
										// Route based on response from server
										switch(data) {
											case "OK":
												window.location.href = "/desktop";
												break;
											case "NOTOK":
												window.location.href = "/?wrongcred=true";
												break;
											case "DBERR":
												alert("DATABASE ERROR " + data);
												break;
										}
									},
									error: function () {
										alert("DATABASE CONNECTION ERROR")
									}
								})			
							}		
						})
					})