extends layout

block content
	div(class="container-fluid")
		div(class="row")
			div.centered.loginform#loginform
				img(src="images/" + full_logo)
				div.row
					| &nbsp;
				form#login
					div.form-group
						// - label(for="username") Username
						input.form-control#username(type="text" name="username" placeholder="Username" required)
	
					div.form-group(id="password")
						// - label(for="password") Password
						input.form-control#pw(type="password" name="pw" placeholder="Password" required)
					input(type="hidden" name="_csrf" value=_csrf)
					button.btn.btn-default#auth AUTHENTICATE
					
		div.row#warnings
				if expired == "true"
					div#alert
						div.alert.alert-warning.text-center(role="alert")
							span 
								b Your session is not valid or has expired! Please authenticate!
							button.close(type="button" data-dismiss="alert" aria-label="Close")
								span(aria-hidden="true") &times;
				if wrongcred == "true"
					div#alert
						div.alert.alert-danger.text-center(role="alert")
							span 
								b Wrong username or password!
							button.close(type="button" data-dismiss="alert" aria-label="Close")
								span(aria-hidden="true") &times;
				if loggedout == "true"
					div#loggedout
						div.alert.alert-info.text-center.alert-dismissible(role="alert")
							span 
								b You have successfully logged out.
							button.close(type="button" data-dismiss="alert" aria-label="Close")
								span(aria-hidden="true") &times;
				
				script.
					$(document).ready(function () {
						// Prevent form submission
						$("#login").submit(function (event) {
							event.preventDefault()
						})
						
						$("#username").focus()
						
						$("#auth").click(function () {
							// - Remove any open warnings
							$(".alert").remove();
							$("#login").validate({
								errorClass: 'customerror',
								errorPlacement: function(error,element) {
									return true; // No labels for the error fields. Just highlight with error class! Looks better and more fluid
								}							
							})
							if ($("#login").valid() == true) {
								$.ajax({
									type: "POST",
									url: "/auth",
									data: $("#login").find(":input").serializeArray(),
									success: function (data) {
										// Route based on response from server
										switch(data) {
											case "OK":
												window.location.href = "/desktop";
												break;
											case "NOTOK":
												window.location.href = "/?wrongcred=true";
											//	// Add line to login form if t does not exists
											//	if ($("#alert").length == 0) {
											//		$("#warnings").append('\
											//			<br><div id="alert" class="alert alert-danger text-center" role="alert">Wrong Username or Password! Please try again!	</div>\
											//		');
											//	}
												//$("#alert").hide().fadeIn();
												break;
											case "DBERR":
												alert("DATABASE ERROR " + data);
												break;
										}
									},
									error: function () {
										alert("DATABASE CONNECTION ERROR")
									}
								})			
							}		
						})
					})