// This is the main template that sets up the page requirements
// jQuery boostrap etc 

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="author" content="fsm.co.tz")
		
		title= title
		
		// - Link external libraries (jquery/nprogress etc etc)
		include addons/external_libraries.pug
	body
		block content

		
		// - Date picker and progress NProgress bar settings
		include addons/datepicker_and_progressbar.pug
			
		// - jQuery scripts
		// - Include the database scripts to updat/insert/delete
		include addons/dbscripts.pug
			
		
		// - include the page that contains all button handlers.
		include addons/element_handlers.pug
		
		// - Include the handler to create autocompletes
		include addons/autocomplete_handler.pug