extends layout

block content
	div(class="container-fluid")
		div(class="row gctl-header")
			div(class="col-sm-2 header-vertical-align text-center")
				img(src="/images/#{logo}" class="small_logo logo" data-toggle="tooltip" data-placement="right" title="TO MAIN PAGE")
			div(class="col-sm-8")
				h4(class="text-center" id="headingtext") 
			div(class="col-sm-2 header-vertical-align text-center")
				div(class="pull-right")
					button(type="button" class="btn btn-default hide" id="refreshpage" style="margin-right: 3px;" data-toggle="tooltip" data-placement="bottom" title="REFRESH PAGE")
						span(class="glyphicon glyphicon-refresh" aria-hidden="true") 	
					button(type="button" class="btn btn-default hide" id="newitem" style="margin-right: 3px;" data-toggle="tooltip" data-placement="bottom" title="CREATE NEW ITEM")
						span(class="glyphicon glyphicon-cog" aria-hidden="true") 			
					button(type="button" class="btn btn-default" id="logout" data-toggle="tooltip" data-placement="bottom" title="LOGOUT")
						span(class="glyphicon glyphicon-log-out" aria-hidden="true")
		
		div(class="row")
			div(class="col-md-2" id="leftmenu")
				// Menu div
				
			div(class="col-md-10 text-center" id="workspace")
				// Working div
				
			// - This div is used when ajax calls to DB are done and it has been succesfull. It will fade in, wait for 3 seconds and fade out 
			div(class="alert alert-success text-center center-block" id="succesfull_db" role="alert" style="display: none")
				span(class="glyphicon glyphicon-ok" aria-hidden="true")  
				&nbsp;Update to DB succesfull!
			// - This div is used when ajax calls to DB have failed
			div(class="alert alert-danger text-center center-block" id="error_db" role="alert" style="display: none")
				span(class="glyphicon glyphicon-exclamation-sign" aria-hidden="true") 
				&nbspError updating DB!
				
		// Div hidden under page. This is used for adding new items to DB
		div(class="row footer text-center" id="divnewitem" style="display: none; z-index:100000")
			div(class="col-md-12" id="divnewitemdet")
				// - Load contente here
			// - div(class="col-md-1 text-center closenewitem" id="closenewitem")
			button(class="btn btn-default btn-sm fixed-button" id="closenewitem" title="CLOSE")
				span(class="glyphicon glyphicon-triangle-bottom" aria-hidden="true")  	
				
		// jQuery scripts
		// - Include the database scripts to updat/insert/delete
		include dbscripts.jade
		
		script.
			$(document).ready(function () {
				// - Load main menu 
				$("#leftmenu").load("/menu/mainmenu")
				
				// To main page on logo click
				$(".small_logo").click(function () {
					window.location.href = "/main";			
				});
				
				// - Menu Handler
				$(document).on("click", ".mainmenulink", function () {
					// Hide new item div on menu click
					$('#divnewitem').fadeOut()
					
					// Set link for refresh page button so we can reload the currently open div in workspace
					$("#refreshpage").attr("refreshlink", $(this).attr("link"));
					
					// Set link for newitem button to open page for inserting new things in DB
					$("#newitem").attr("dblink", $(this).attr("newitemlink"))
		
					$("#workspace").empty().load($(this).attr("link"));
					// Unhide new item button and refresh button
					$("#newitem").removeClass("hide");
					$("#refreshpage").removeClass("hide");
					
					// - Set page name based on selection	
					$("#headingtext").text($(this).text().toUpperCase());	
				});
				
				
				// New item button
				$("#newitem").click(function () {
					//alert($("#newitem").attr("dblink"));
					$('#divnewitem').fadeIn();
					$('#divnewitemdet').empty().load($("#newitem").attr("dblink"));
				})
				
				// Always prevent frmnewinsert (when adding new items) to submit when hitting enter
				// Emulate #btninsert click instead
				$(document).bind("keypress", "#frmnewitem", function(e) {
					if (e.keyCode == 13) {
						return false;
					}
				});
					
				$("#closenewitem").click(function () {
					// Hide new item div
					$('#divnewitem').fadeOut();
				})

				// refresh page button
				$("#refreshpage").click(function () {
					// - Reload workspace based on link set when selected from menu
					$("#workspace").load($(this).attr("refreshlink"))				
					// - Remove divnewitem
					$("#divnewitem").fadeOut()
				})
				
				// - Logout function
				$("#logout").click(function () {
					window.location.href = "/logout"			
				})
			})