//- Report template layout

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		
		title #{report_title}

		//- Add boostrap
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css' integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp' crossorigin='anonymous')
		
		//- Google Fonts
		link(href='https://fonts.googleapis.com/css?family=Raleway:100,300,400,700' rel='stylesheet')
		
		//- Reports CSS
		link(rel='stylesheet' href='/public_rep/stylesheets/reports.css' type='text/css')


	//- Always print reports....
	body(onload="window.print()") 
		block content