- var repdate = report_data[0].date.split("/");
- var ref = refprefix.replace("***type***", "GIN").replace("***year***",repdate[2]).replace("***month***",repdate[1]) + serial
div.row.report-header.text-center
	img.logo(src="/images/" + report_logo style="vertical-align: middle")
	h4 #{report_name}
