extends layout

block content
	div.container-fluid
		include report_header.pug
			
		div.row.report-body.text-center
			// Your content here
			span 
				| Sample content
			br
			br
			p
				| Lore ipsum etc etc

		include report_footer.pug 