/* Sizing CSS */
.size-50 {
	width: 50px ! important;
}

.size-30 {
	width: 30px ! important;
}

.size-80 {
	width: 80px ! important;
}

.size-100 {
	width: 100px ! important;
}

.ui-autocomplete {
	font-size: 12px;
}

.ui-menu-item .ui-menu-item-wrapper:hover {
	color: red;
	border-top-color: white;
	border-bottom-color: white;
	font-weight: 700;
}
