/* Sizing CSS */
.size-50 {
	width: 50px ! important;
}

.size-30 {
	width: 30px ! important;
}

.size-80 {
	width: 80px ! important;
}

.size-100 {
	width: 100px ! important;
}

/* Padding CSS */
.padding-5 {
	padding: 5px;
}

.padding-10 {
	padding: 10px;
}

.padding-15 {
	padding: 15px;
}

.ui-autocomplete {
	font-size: 12px;
}

.ui-menu-item .ui-menu-item-wrapper:hover {
	color: black;
	border-color: #dddddd ! important;
	font-weight: 700;
}

/* Set backround if dropdown list in autocomplete */ 
.ui-widget-content .ui-state-active {
	background: #ffbb33; ! important;
}

.bold {
	font-weight: 700 ! important;
}

.underline {
	text-decoration: underline ! important;
}

.italic {
	font-style: oblique ! important;
}