html, body, * {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin: 0;
}

.centered {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.loginform {
	text-align:center;
	vertical-align:middle; 
	width: 30%;
	height: 50%;
}

.closenewitem {
	cursor: pointer;
}

/* Tooltip overide settings*/
div.tooltip-inner {
	max-width: 500px;
}

/* Remove outlines such as in chrome */
input:focus {
    outline: 0;
}

/* all input text align center*/
input, textarea, label {
	text-align: center;
	cursor: pointer;
	font-weight: 400;
}

/* Labels for help add help class to them */
label.help:hover {
	color: red;
}

/* Logo CSS */
.logo {
	position: absolute;
	cursor: pointer;
	top: 4px;
}

/* menu css */
.mainmenu {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: lightgray;
	margin-left: -15px;
	height: 100%;
	width: 200px;
}

.mainmenu tr td {
	padding: 10px;
}

.mainmenu tr td:hover:not(.mainmenu_item_selected) {
	border-right-color: red;
	border-right-style: solid;
	border-right-width: 3px;
	color: black;
	cursor: pointer;
	background-color: #f0f0f0; /*#f9eafc*/
	font-weight: 700 ! important;
}

/* Selected menu item*/
.mainmenu_item_selected {
	border-right-color: black;
	border-right-style: solid;
	border-right-width: 3px;
	background-color: lightgray; /*#f7faff*/
	font-weight: 700;
	color: black;
}

.mainmenu tr td span {
	padding-left: 2px;
}

/* Footer div for additions to DB*/
.footer {
	overflow: scroll;
	position: absolute;
	bottom:  0px;
	height: 60%;
	background-color: #f6f6f6;
	border-top-color: lightgray;
	border-top-style: solid;
	border-top-width: 1px;
	width: 100%;
}

.fixed-button {
	position: absolute;
	top: 4px;
	right: 4px;
}

/* Error handling CSS */
.customerror {
	border-color: red;
	border-width: 2px;
	background-color: #ffcccf;
	font-weight: bold;
}

/* Shadow only for desktop icons panel as otherwise it would appear everywhere and it's annoying! */
.dsk-panel:hover {
	-webkit-box-shadow: -1px 5px 15px 0px lightgray;
	-moz-box-shadow: -1px 5px 15px 0px lightgray;
	box-shadow: -1px 5px 15px 0px lightgray;
}

.desktop-icon {
	width: 60px;
	opacity: 0.6;
}
