html, body, * {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin: 0;
}

.centered {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.loginform {
	text-align:center;
	vertical-align:middle; 
	width: 30%;
	height: 50%;
}

.closenewitem {
	cursor: pointer;
}

/* Header tools */
.header-vertical-align {
	/height: 45px;
	/line-height: 45px;
}

.gctl-header {
	background-color: #f6f6f6;
	border-bottom-color: lightgray;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

/* Tooltip overide settings*/
div.tooltip-inner {
	max-width: 500px;
}

/* Table dbtable header for popover, when class help is added th become red so we know that there is a help popover */
.help th:hover {
	color: tomato;
	text-decoration: underline; 
	font-weight: 400;
}

/* Remove outlines such as in chrome */
input:focus {
    outline: 0;
}

/* all input text align center*/
input, textarea, label {
	text-align: center;
	cursor: pointer;
	font-weight: 400;
}

/* Labels for help add help class to them */
label.help:hover {
	color: red;
}

/* Logo CSS */
.logo {
	position: absolute;
	cursor: pointer;
	top: 4px;
}

.logo:hover {
	opacity: 0.7;
}

/* menu css */
.mainmenu {
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: white;
	margin-left: -15px;
	height: 100%;
}

.mainmenu tr td {
	padding: 10px;
}

.mainmenu tr td:hover {
	border-right-color: blue;
	border-right-style: solid;
	border-right-width: 2px;
	color: green;
	cursor: pointer;
	background-color: #f7faff; /*#f9eafc*/
}

/* Selected menu item*/
.mainmenu_item_selected {
	border-right-color: black;
	border-right-style: solid;
	border-right-width: 2px;
	background-color: gray; /*#f7faff*/
	font-weight: 700;
	color: white;
}

.mainmenu tr td span {
	padding-left: 2px;
}

/* 
Boostrap alerts CSS
fixed, centered on top
*/
.alert {
  position: fixed;
  top: 5px;
  margin-left: 25%; 
  width: 50%;
  z-index: 10000;
}
/* Boostrap Table Exta CSS */
.table {
	margin: 0 auto;
}

table th.help {
	cursor: pointer;
}

/* Footer div for additions to DB*/
.footer {
	overflow: scroll;
	position: absolute;
	bottom:  0px;
	height: 60%;
	background-color: #f6f6f6;
	border-top-color: lightgray;
	border-top-style: solid;
	border-top-width: 1px;
	width: 100%;
}

.fixed-button {
	position: absolute;
	top: 4px;
	right: 4px;
}

/* Error handling CSS */
.customerror {
	border-color: red;
	border-width: 2px;
	background-color: #ffcccf;
	font-weight: bold;
}

/* Sortale tables CSS */
.sortable tr {
	cursor: all-scroll;
}

/* Desktop CSS */
.desktop-panel {
	margin-top: 10px;
	cursor: pointer;
}

/* Shadow only for desktop icons panel as otherwise it would appear everywhere and it's annoying! */
.dsk-panel:hover {
	-webkit-box-shadow: -1px 5px 15px 0px lightgray;
	-moz-box-shadow: -1px 5px 15px 0px lightgray;
	box-shadow: -1px 5px 15px 0px lightgray;
	border-color: gray;
}

.desktop-icon {
	width: 60px;
	opacity: 0.6;
}
