// This is the template for building the main menu. It fetches JSON data from the express server and populates the template

block content
	div.container
		div.row
			span &nbsp;
		div.row
			div.col-sm-3
			div.col-sm-6
				div.panel.panel-info
					div.panel-heading
						h5 #{title}
					div.panel-body
						form.form-horizontal(id="frmnewitem")
							div.form-group
								label.col-sm-2.control-label(for="wdescription") Name:
								div.col-sm-10
									input.form-control.input-sm(type="text" name="sname" id="sname" placeholder="Supplier name" required)
							div.form-group
								input(type="hidden" name="dbtable" value="suppliers")
								input(type="hidden" name="returnid" value="sid")
								input(type="hidden" name="s_user" id="s_user" value=session.user_id)
								input(type="hidden" id="apppage" value="/menu/suppliers")
								input(type="hidden" name="_csrf" value=_csrf)
								button.btn.btn-success(type="button" id="btninsert") ADD SUPPLIER
		div.col-sm-3
			