// This is the template for building the main menu. It fetches JSON data from the express server and populates the template

block content
	div.container
		div.row
			span &nbsp;
		div.row
			div.col-sm-2
			div.col-sm-8
				div.panel.panel-info
					div.panel-heading
						h5 #{title}
					div.panel-body
						form.form-horizontal(id="frmnewitem")
							div.form-group
								label.col-sm-4.control-label(for="mdescription") Option Text:
								div.col-sm-8
									input.form-control.input-sm(type="text" name="mdescription" id="mdescription" placeholder="Menu option Text" required)
							div.form-group
								label.col-sm-4.control-label(for="mlink") API Link:
								div.col-sm-8
									input.form-control.input-sm(type="text" class="" name="mlink" id="npassword" placeholder="API Link" required)
							div.form-group
								label.col-sm-4.control-label(for="mnewitemlink") API New Item Link:
								div.col-sm-8
									input.form-control.input-sm(type="text" name="mnewitemlink" id="mnewitemlink" placeholder="API Link for new Item")
							div.form-group
								label.col-sm-4.control-label(for="mlongdescription") Description:
								div.col-sm-8
									input.form-control.input-sm(type="text" name="mlongdescription" id="mlongdescription" placeholder="Detailed description of menu item" required)
							div.form-group
								label.col-sm-4.control-label(for="mgroup") Menu Group:
								div.col-sm-8
									select.form-control.input-sm(name="mgroup" id="mgroup" required)
										option(selected="selected") Select Menu Group
										for di in menugroups
											option(value=di.mgid) #{di.mgdescription}
										
							div.form-group
								input(type="hidden" name="dbtable" value="menu")
								input(type="hidden" name="returnid" value="mid")
								input(type="hidden" id="apppage" value="/menu/system_menu_setup")
								input(type="hidden" name="_csrf" value=_csrf)
								button.btn.btn-success(type="button" id="btninsert") ADD MENU ITEM
		div.col-sm-2
			
							