// This is the template for building the main menu. It fetches JSON data from the express server and populates the template

block content
	div.container
		div.row
			span &nbsp;
		div.row
			div.col-sm-3
			div.col-sm-6
				div.panel.panel-info
					div.panel-heading
						h5 #{title}
					div.panel-body
						form.form-horizontal(id="frmnewitem")
							div.form-group
								label.col-sm-2.control-label(for="wdescription") Description:
								div.col-sm-10
									input.form-control.input-sm(type="text" name="wdescription" id="wdescription" placeholder="Warehouse description" required)
							div.form-group
								input(type="hidden" name="dbtable" value="warehouses")
								input(type="hidden" name="returnid" value="wid")
								input(type="hidden" name="w_user" id="w_user" value=session.user_id)
								input(type="hidden" id="apppage" value="/menu/warehouse_setup")
								button.btn.btn-success(type="button" id="btninsert") ADD WAREHOUSE
		div.col-sm-3
			