// This is the template for building the main menu. It fetches JSON data from the express server and populates the template

block content
	div(class="container")
		div(class="row")
			span &nbsp;
		div(class="row")
			div(class="col-sm-3")
			div(class="col-sm-6")
				div(class="panel panel-info")
					div(class="panel-heading")
						h5 title
					div(class="panel-body")
						form(class="form-horizontal" id="frmnewitem")
							div(class="form-group")
								div(class="col-sm-6")
									input(type="text" class="form-control input-sm" name="enumberplate" id="enumberplate" placeholder="Number Plate" required)
								div(class="col-sm-6")
									input(type="text" class="form-control input-sm datepicker" name="eroadlicense" id="eroadlicense" placeholder="Road License" required)
							div(class="form-group")
								div(class="col-sm-6")
									input(type="text" class="form-control input-sm datepicker" name="einsurance" id="einsurance" placeholder="Insurance" required)
								div(class="col-sm-6")
									input(type="text" class="form-control input-sm datepicker" name="etra" id="tra" placeholder="TRA Sticker" required)
							div(class="form-group")
								div(class="col-sm-12")
									textarea(class="form-control input-sm" name="edescription" id="edescription" placeholder="Equipment Description" required)
							div(class="form-group")
								input(type="hidden" name="dbtable" value="equipment")
								input(type="hidden" name="returnid" value="eid")
								input(type="hidden" id="apppage" value="/menu/equipment_setup")
								button(class="btn btn-success" type="button" id="btninsert") ADD EQUIPMENT
				div(class="col-sm-3")
		
		include ../focus_first_form_item
							